<div class="border border-(--card-border) rounded-(--insert-radius-course) p-5 bg-white">
  <h2 class="font-semiBold text-2xl mb-2.5">Ближайшие дедлайны</h2>
  <div class="flex items-center justify-between last:border-b-0 border-b border-(--card-border) py-2.5">
    <div class="flex items-center gap-4">
      <div class="flex flex-col items-end gap-2">
        <h3 class="card-text">13:49</h3>
        <span class="text-(--pale-text) little-text">6 дек, сб</span>
      </div>
      <div>
        <div class="flex flex-col items-start gap-2">
          <h3 class="card-text">Создать задание по уроку: типы данных</h3>
          <span class="text-(--pale-text) little-text">Android для начинающих</span>
        </div>
      </div>
    </div>
    <div>
      <p-button routerLink="/courses" [queryParams]="{id: 1}"
                [rounded]="true" severity="primary" variant="outlined" label="К заданию" />
    </div>
  </div>
  <div class="flex items-center justify-between last:border-b-0 border-b border-(--card-border) py-2.5">
    <div class="flex items-center gap-4">
      <div class="flex flex-col items-end gap-2">
        <h3 class="card-text">13:49</h3>
        <span class="text-(--pale-text) little-text">6 дек, сб</span>
      </div>
      <div>
        <div class="flex flex-col items-start gap-2">
          <h3 class="card-text">Создать задание по уроку: типы данных</h3>
          <span class="text-(--pale-text) little-text">Android для начинающих</span>
        </div>
      </div>
    </div>
    <div>
      <p-button routerLink="/courses" [queryParams]="{id: 1}"
                [rounded]="true" severity="primary" variant="outlined" label="К заданию" />
    </div>
  </div>
</div>
