<header class="py-3 bg-white border-b border-(--card-border)">
  <div class="px-8 flex justify-between items-center">
    <a routerLink="/" class="flex items-center gap-2">
      <div class="h-8 w-8 rounded-[8px] my-gradient"></div>
      <div class="font-bold text-xl">EduPlatform</div>
    </a>

    <nav class="flex items-center gap-5">
      <a class="route-links" routerLink="/courses" routerLinkActive="active-route">Курсы</a>
      <a class="route-links" routerLink="/homeworks" routerLinkActive="active-route">Домашка</a>
      <a class="route-links" routerLink="/schedule" routerLinkActive="active-route">Расписание</a>
      <a class="route-links" routerLink="/statistic" routerLinkActive="active-route">Статистика</a>
    </nav>

    <div class="flex items-center gap-2">
      <button class="bg-(--accent) text-white cursor-pointer rounded-(--button-radius) px-4 py-2">+ Новый курс</button>

      <div class="flex items-center gap-2 bg-(--chip-gray-bg) rounded-full p-2 hover:bg-(--chip-gray-bg-hover) cursor-pointer py-1.5 px-2.5">
        <div class="text-white bg-(--primary) rounded-full w-10 h-10 flex items-center justify-center">КЧ</div>
        <div class="profile-info">
          <div class="profile-name">Кирилл Черняев</div>
          <div class="text-(--pale-text)">Студент (4 курс)</div>
        </div>
        <!--      <div class="profile-menu">-->
        <!--        <div class="profile-menu-item">-->
        <!--          <span class="icon">👤</span>-->
        <!--          <span>Мой профиль</span>-->
        <!--        </div>-->
        <!--        <div class="profile-menu-item">-->
        <!--          <span class="icon">⚙️</span>-->
        <!--          <span>Настройки аккаунта</span>-->
        <!--        </div>-->
        <!--        <div class="profile-menu-item">-->
        <!--          <span class="icon">🌙</span>-->
        <!--          <span>Тёмная тема</span>-->
        <!--        </div>-->

        <!--        <div class="profile-menu-separator"></div>-->

        <!--        <div class="profile-menu-item">-->
        <!--          <span class="icon">🚪</span>-->
        <!--          <span>Выйти</span>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
      </div>
    </div>
  </div>
</header>
