@use "tailwindcss";

@theme {
  // Цвета
  --primary: #0057ff;
  --accent: #ff8a3d;
  --bg-page: #f3f6fb;
  --secondary: #4a5b75;
  --white-card: #ffffff;
  --card-border: #e1e7fb;
  --header: #dde5f3;
  --pale-text: #6b7b94;
  --text-color: #1f2a3c;
  --light-card-bg: #f7f9ff;
  --pill-blue-bg: #e3eeff;
  --pill-blue-text: #0057ff;
  --pill-orange-bg: #fff3e8;
  --pill-orange-text: #ff8a3d;
  --pill-green-bg: #e9fff2;
  --pill-green-text: #0a9f4d;
  --chip-gray-bg: #f3f6fb;
  --chip-gray-bg-hover: #e2ebff;

  // Скругления - можно будет потом от них избавиться если tw такие будут, а они там должны быть
  --main-radius: 16px;
  --insert-radius-cours: 14px;
  --insert-radius-task: 12px;
  --button-radius: 999px;

  // Тени
  --main-shadow: 0 8px 24px rgba(15, 23, 42, 0.05);
  --profile-shadow: 0 10px 30px rgba(15, 23, 42, 0.1);

  // Типографика
  --custom-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif
}

.card-text {
  @apply text-[0.875rem];
}

.little-text {
  @apply text-[0.688rem];
}

.blocks-padding {
  @apply py-4 px-[18px];
}

.padding-insert {
  @apply p-3;
}

.custom-grid {
  @apply grid grid-cols-2 gap-5;
}

.active-route {
  @apply bg-(--primary) text-white;
}

.route-links {
  @apply text-[0.875rem]  hover:bg-(--primary) hover:text-white transition-all rounded-(--button-radius) py-1.5 px-2.5;
}

.my-gradient {
  @apply bg-gradient-to-br from-(--primary) to-(--accent);
}

.profile-card {
 @apply flex items-center gap-2 bg-(--chip-gray-bg) rounded-full p-2 hover:bg-(--chip-gray-bg-hover) cursor-pointer py-1.5 px-2.5
}

body {
  @apply bg-(--bg-page) font-(family-name:--custom-font-family) text-base;
}
